---
import Visualisation1 from "@/components/Visualisation1.astro";
import Layout from "../layouts/Layout.astro";
import Visualisation3 from "@/components/Visualisation3.astro";
---

<Layout>
  <h1>St. Himark Earthquake Visualization</h1>
  <p>
    Click one of the following links to view the visualisation app for the given
    question:
  </p>
  <div
    style="display: flex; justify-content: space-around;width: 80vw; margin: auto;"
  >
    <a href="question1.html">Question 1</a>
    <a href="question2.html">Question 2</a>
    <a href="question3.html">Question 3</a>
  </div>
</Layout>

<style>
  * {
    text-align: center;
  }
</style>
