---
import Visualisation1 from "@/components/Visualisation1.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div style="width: 80vw; margin: auto">
    <h1 style="text-align:center;">Visualisation App for Question 1</h1>
    <p>
      Emergency responders will base their initial response on the earthquake
      shake map. Use visual analytics to determine how their response should
      change based on damage reports from citizens on the ground. How would you
      prioritize neighborhoods for response? Which parts of the city are hardest
      hit?
    </p>
    <Visualisation1 />
  </div>
</Layout>
