---
import Layout from "../layouts/Layout.astro";
import Visualisation3 from "@/components/Visualisation3.astro";
---

<Layout>
  <div style="width: 80vw; margin: auto">
    <h1 style="text-align:center;">Visualisation App for Question 3</h1>
    <p>
      How do conditions change over time? How does uncertainty change over time?
      Describe the key changes you see.
    </p>
    <Visualisation3 />
  </div>
</Layout>
